---
import Section from "./Section.astro";
---

<Section title="Accesorios" color="black">
  <div slot="footer" class="flex gap-x-6 mx-auto">
    <a
      class="border-[3px] border-white bg-white backdrop-blur-sm text-sm rounded font-medium text-black px-12 py-2 inline-block hover:bg-black hover:text-white transition-colors"
      href="#">Comprar ahora</a
    >
  </div>

  <img
    slot="background"
    src="/Charge.avif"
    alt="Charger"
    class="h-full w-full object-cover object-center"
  />
</Section>
