---
import Section from "./Section.astro";
---

<Section title="Solar y PowerWall" subtitle="Energía para todos" color="black">
  <div slot="footer" class="flex gap-x-6 mx-auto">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#">Saber más</a
    >
  </div>

  <img
    slot="background"
    src="/Power-wall.avif"
    alt="Power wall"
    class="h-full w-full object-cover object-center"
  />
</Section>
